.icon {
	display: contents;
	margin-left: 10px;
	align-content: center;
	&_item {
		width: 20px;
		height: 20px;
	}
	&_item svg {
		display: inline-flex;
		align-items: center;
		align-self: center;
	}
}
